@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #fff;
  --primary-light: #121417;
  --primary-foreground-dark: #9CABBA;
  --primary-foreground-light: #61788A;
  --background-dark: #111921;
  --background-light: #fff;
  --secondary-dark: #293038;
  --secondary-light: #F0F2F5;
  --accent-light: hsl(240, 4.8%, 95.9%);
  --accent-dark: #1C2126;
  --accent-foreground-light: hsl(240, 5.9%, 10%);
  --accent-foreground-dark: hsl(60, 0%, 100%);
  --muted-light: #e2e2e2;
  --muted-dark: hsl(240, 5%, 25%);
  --muted-foreground-light: hsl(240, 3.8%, 45%);
  --muted-foreground-dark: hsl(60, 5%, 85%);
  --border-light: #dbe1e6;
  --border-dark: #223548;
  --success-light: #D4EDDA;
  --success-dark: #155724;
  --danger-light: #ff0000;
  --danger-dark: #9f0404;
  --warning-light: #FFF3CD;
  --warning-dark: #856404;
  --error-light: #F8D7DA;
  --error-dark: #721C24;
  --text-light: #212529;
  --text-dark: #F8F9FA;
  --link-light: #007BFF;
  --link-dark: #0056b3;
  --highlight-color: #2784e6;
}

@layer base {
  * {
    @apply border-border-light dark:border-border-dark;
  }


  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-primary-light dark:text-primary-dark min-h-dvh
  }


}